@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --transition      : 0.2s ease-in-out;
  --white           : #f0f3fa;
  --gray-color      : #9fa2a8;
  --gray-hover-color: #D4D6D8;
}

* {
  padding        : 0;
  margin         : 0;
  border         : none;
  outline        : none;
  box-sizing     : border-box;
  text-decoration: none;
  list-style     : none;
  font-family    : "Montserrat", sans-serif,
}

*::-webkit-scrollbar {
  width: 0;
}

body {
  scroll-behavior        : smooth;
  /* background-color    : #18191a */
}

@layer base {
  html {
    @apply text-xs;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;